<span mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  Client Contract - Terms and Conditions
  <button mat-icon-button color="accent" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</span>
<div mat-dialog-content>
  <p class="mat-body-2">
    Wolters Kluwer Health, Inc., its parent, affiliate and subsidiary companies including but not limited to its
    business units (“WKH”) welcomes you to its Web site located at http://journals.lww.com and its related sites (the
    “Site”). Please take a moment to review them. When you access, view, submit, or use the software, articles,
    content, material, or services available on or through the Site you agree, on behalf of yourself, any company or
    organization on whose behalf you actually or allegedly act, and any individual that receives access to the Site
    through you, you indicate that you have read and understand these Terms and Conditions, and that you agree to them
    and intend to be legally bound by them. If you do not agree to these Terms and Conditions, you are not granted
    permission to use the Site and must exit immediately. Any violation of these Terms and Conditions or other act or
    omission by any person that obtains access to this Site through you that would be a breach of these Terms and
    Conditions if committed by you is deemed a breach of these Terms and Conditions by you for which you shall be
    responsible. The Site must not be used by children under 13.
  </p>

  <span class="mat-subheading-2">1. Informational Purposes Only</span>
  <p class="mat-body-1">The information on this Site is for informational purposes only. No information, services, or
    materials offered by
    or through this Site shall be construed as or understood to be medical advice or care. None of the information on
    this Site shall be used to diagnose or treat any health problem or disease. YOU MUST CONSULT WITH A PHYSICIAN,
    DOCTOR, OR HEALTH CARE PROVIDER BEFORE TAKING ANY PRODUCT OR USING ANY INFORMATION ON THIS SITE. No
    physician/patient relationship is created between WKH and you by reason of your use of the Site or under any
    circumstances. Individual inquiries about sensitive or confidential matters should be addressed to appropriate
    health care professionals. In connection with this statement, please take particular care to read the Disclaimer of
    Warranty and Liability.</p>

  <p class="mat-body-1">Some drugs and medical devices described on this Site have Food and Drug Administration (FDA)
    clearance for limited
    use in restricted research settings and to treat only specifically approved medical conditions. It is the
    responsibility of the health care provider to ascertain the FDA status of each drug or device planned for use in
    their clinical practice. WKH does not endorse or suggest any particular medical tests, pharmaceutical products,
    physicians or other health providers, products, or medical procedures WKH may detail or describe on this Site. Your
    reliance on any information provided by this Site is solely at your own risk.
  </p>

  <p class="mat-body-1">WKH endeavors to keep the Site and Site Materials (defined in Section 2) on, in, and through
    the Site up-to-date.
    Without limiting anything else in these Terms and Conditions or otherwise, WKH is not responsible for any errors or
    omissions in the Site or Site Materials.</p>

  <span class="mat-subheading-2">2. Proprietary Rights</span>
  <p class="mat-body-1">All works of authorship, information, content, functional components, articles, software,
    downloads, upgrades,
    documentation, services, information and material appearing on, contained in, or made available through the Site
    (“Site Materials”) are protected by law, including without limitation United States copyright law. Except as
    explicitly stated on the Site, the entirety of the Site Materials (including without limitation text, graphics,
    images, video, data, design, organization, compilation, look and feel attributes and other intellectual property)
    are WKH’s copyrighted works, all rights reserved, or they are the copyrighted works of WKH’s affiliates, licensors,
    or suppliers. WKH also owns a copyright in the Site as a collective work and compilation, and in the selection,
    coordination, arrangement, and organization of the Site Materials.</p>

  <p class="mat-body-1">Removing or altering any copyright notice or any other proprietary notice on any Site Materials
    is strictly
    prohibited. Except as otherwise expressly permitted under these Terms and Conditions or any applicable license or
    subscription agreement governing the use of the Site Materials, any commercial use of any Site Materials, in whole
    or in part, without the prior written consent of WKH, is prohibited. Except for articles published under a Creative
    Commons License that permits such activity, any reproduction, distribution, performance, display, preparation of
    derivative works based upon, framing, capturing, harvesting, scraping, or collection of, or creating of hypertext
    or other links or connections to, any Site Materials or any other proprietary information of WKH, without WKH’s
    advance written consent, is prohibited. Articles published under a Creative Commons License may be used in
    accordance with the terms of such Creative Commons License.</p>

  <p class="mat-body-1">All names, trademarks, service marks, symbols, slogans, and logos appearing on the Site are
    proprietary to WKH or
    its parent, affiliates, licensors, or suppliers. Use or misuse of these trademarks is expressly prohibited and may
    violate federal and state trademark law.</p>

  <span class="mat-subheading-2">3. Third Party Materials, Products and Services</span>
  <p class="mat-body-1">Parties other than WKH may provide products, services or content on the Site. Use of the Site
    and the Site
    Materials and any other material or content on and made available through the Site is entirely at your own risk.
    Additionally, the Site contains links to other Internet Web sites for the convenience of users in locating
    information, products, or services that may be of interest. Other terms and conditions, in addition to these Terms
    and Conditions, may appear on the Site related to specific content of third parties and will apply to such third
    party content as indicated. WKH does not recommend and expressly disclaims any responsibility for the content, the
    accuracy of the information, or quality of products or services provided by or advertised on third party sites or
    the transactions you conduct or enter into with third parties. Your use of third parties’ websites is at your own
    risk, and subject to the terms and conditions of such other websites. WKH does not endorse any product, service, or
    treatment provided on a third party website or advertised on the Site.</p>

  <span class="mat-subheading-2">4. Materials Submitted to the Site</span>
  <p class="mat-body-1">The Site may allow you to contribute photographs, pictures, videos, recordings, postings, and
    other materials and
    information that is not governed by the Privacy Statement as personal data (“User Materials”) to the Site. WKH does
    not guarantee the accuracy or completeness of any User Materials and cannot be responsible for any User Materials.
    By submitting User Materials to or using the Site, you represent that you have the full legal right to provide the
    User Materials, that such User Materials will not: (a) divulge any protected health information or infringe any
    intellectual property rights of any person or entity or any rights of publicity, personality, or privacy of any
    person or entity, including without limitation as a result of your failure to obtain consent to post personally
    identifying or otherwise private information about a person or which impersonates another person; (b) violate any
    law, statute, ordinance, or regulation; (c) be defamatory, libelous or trade libelous, unlawfully threatening, or
    unlawfully harassing or embarrassing; (d) be obscene, child pornographic, or indecent; (e) violate any community or
    Internet standard; (f) contain any viruses, Trojan horses, worms, time bombs, cancelbots, or other computer
    programming routines that damage, detrimentally interfere with, surreptitiously intercept, or expropriate any
    system, data or personal information, or that facilitate or enable such or that are intended to do any of the
    foregoing; (g) result in product liability, tort, breach of contract, personal injury, death, or property damage;
    (h) constitute misappropriation of any trade secret or know-how; or (i) constitute disclosure of any confidential
    information owned by any third party. Upon your submission of User Materials or other material or information to
    WKH, you grant WKH, and WKH thereby accepts, a worldwide, perpetual, non-terminable, irrevocable, transferable,
    license to access, use, distribute, perform, reproduce, display, modify, create derivative works based upon, and
    sublicense, and to permit others to access, use, distribute, perform, reproduce, display, modify, create derivative
    works based upon, and sublicense, the User Materials for the purpose of providing the Site and Site products and
    services and for all other business purposes of WKH, all without any compensation to you whatsoever. WKH may remove
    User Materials from the Site that are libelous, incorrect, spiteful, or otherwise inappropriate, in WKH's sole
    discretion. WKH shall not be responsible for changes, modifications, or removal any User Materials that you submit
    to the Site. WKH reserves the right to, but is not obligated to monitor, edit or disclose any User Materials. If
    you believe that any User Materials violate your intellectual property or other rights, please follow our Complaint
    Procedure in Section 9 of these Terms and Conditions.</p>

  <p class="mat-body-1">User Materials stored on the Site are stored by WKH only for permitted temporary online sharing
    purposes and not
    for permanent or long-term storage or for temporary archival purposes. WKH is not obligated to maintain back-up
    copies of any User Materials.</p>

  <p class="mat-body-1">You acknowledge and agree that User Materials may be transferred by WKH and its agents,
    representatives,
    contractors, and licensees outside of the United States. In addition, you acknowledge and agree that it is your
    obligation to inform third parties of the processing, including, without limitation, transferring across
    international borders, of their personal information, such as their name, address, and likeness, in connection with
    the User Materials. You agree to ensure that any required third parties have given their consent to such processing
    as required by all applicable law, statute, ordinance, or regulation, including, without limitation, data
    protection legislation.</p>

  <span class="mat-body-2">Dated: August 17, 2018</span>
</div>
<div mat-dialog-actions>
  <button (click)="onClickAgree($event)" color="accent" mat-raised-button mat-dialog-close>I Agree</button>
</div>