.content{
    padding: 15px !important;
  }
    
    .highlight {
      color: blue;
    }
    
    .actions {
      margin: 1rem 0;
    }
    
    .subheading-action {
      margin-top: -16px;
    }
    .title{
      margin-bottom: 0;
  }