<div class="login-main">
  <form action="#" class="form" id="passwordResetForm" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <h1 class="form__title">Medbud</h1>
      <div class="form__group">
          <input id="newPassword" type="text" class="form__input" placeholder="Password" [formControl]="form.controls['password1']">
          <label for="#" class="form__label">@password</label>
          <!-- <span class="error-message" *ngIf="form?.controls.password1?.errors?.required">password1 Mandatory</span> -->
      </div>
      <div class="form__group">
          <input id="confirmPassword" type="text" class="form__input" placeholder="Confirm password" [formControl]="form.controls['password2']">
          <label for="#" class="form__label">@confirm password</label>
          <!-- <span class="error-message" *ngIf="form?.controls.password2?.errors?.required">password2 Mandatory</span> -->
      </div>
      <button class="form__button" type="submit" [disabled]="!form.valid">Update password</button> 
  </form>
</div>

<app-loader *ngIf="loading"></app-loader>
