.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 300px;
    /*ширина*/
    padding: 32px;
    /*задает величину поля/формы*/
    border-radius: 30px;
    /*закругление кроев*/
    box-shadow: 0 4px 36px #ccc;
    /*эффект тени*/
    font-family: sans-serif;
    /*шрифт без засечек*/
    letter-spacing: 1px;
    /*расстояние между буквами*/
    cursor: pointer;
    /*Устанавливает форму курсора, когда он находится в пределах элемента*/
  }
  
  .form__input,
  .form__button {
    font-family: sans-serif;
    /*шрифт без засечек*/
    letter-spacing: 1px;
    /*расстояние между буквами*/
    font-size: 16px;
    /*Размер шрифта*/
  }
  
  .form__title {
    /*Оформление заголовка*/
    text-align: center;
    /*центрирование текста по горизонтали*/
    margin: 0 0 32px 0;
    /*Устанавливает величину отступа от каждого края элемента (32px - это отступ снизу)*/
    font-weight: normal;
    /*Уберает жирность текста*/
    font-family: 'Pacifico', cursive;
    color: #53caee;
  }
  
  .form__group {
    position: relative;
    /*Устанавливает способ позиционирования элемента относительно окна браузера. Relative - Относительное позиционирование*/
    margin-bottom: 32px;
    /*Устанавливает величину отступа от нижнего края элемента. Отступ снизу 32px*/
  }
  
  .form__label {
    position: absolute;
    /*абсолютное позиционирование*/
    top: 0;
    /*позиционированного элемента - top отсчитывается от верхнего края исходного положения элемента*/
    z-index: -1;
    /*Подсказки будут отображаться под полем*/
    color: #9e9e9e;
    /*Цвет*/
    transition: 0.3s;
    /*Устанавливает эффект перехода между двумя состояниями элемента. 0.3s - время перехода*/
  }
  
  .form__input {
    width: 100%;
    /*Ширина*/
    padding: 0 0 10px 0;
    /*Задает величину поля/формы*/
    border: none;
    /*border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента*/
    border-bottom: 2px solid #e0e0e0;
    /*Параметры линии внизу, где будет Email и Password*/
    background-color: transparent;
    /*цвет фона прозрачный*/
    outline: none;
    /*Устанавливает цвет, стиль и толщину внешней границы на всех четырех сторонах элемента*/
    transition: 0.3s;
    /*Время перехода анимации*/
  }
  
  .form__input:focus {
    border-bottom: 2px solid #53caee;
    /*меняет цвет, стиль и ширину при нажатии на поле @email и password*/
  }
  
  .form__button {
    padding: 10px 20px;
    /*Задает величину кнопки*/
    border: none;
    /*border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента*/
    border-radius: 5px;
    /*Задает закругление границ кнопки*/
    color: aliceblue;
    /*Цвет текста кнопки*/
    background-color: #53caee;
    /*Цвет фона кнопки*/
    outline: none;
    /*Устанавливает цвет, стиль и толщину внешней границы на всех четырех сторонах элемента*/
    cursor: pointer;
    /*Устанавливает форму курсора, когда он находится в пределах элемента*/
    transition: 0.3s;
    /*переход анимации*/
    font-family: 'Pacifico', cursive;
  }
  
  /*Что будет происходить когда на кнопку будут наводить или кнопка будет в фокусе*/
  .form__button:focus,
  .form__button:hover {
    background-color: #5bacc5;
    /*Меняем цвет фона*/
  }
  
  
  /*Изменения которые будут в полях @email и password, когда они будут в фокусе*/
  .form__input:focus~.form__label,
  .form__input:not(:placeholder-shown)~.form__label {
    top: -18px;
    /*позиционированного элемента - top отсчитывается от верхнего края исходного положения элемента*/
    font-size: 12px;
    /*Размер шрифта*/
    color: #e0e0e0;
  }
  
  .error-message {
    color: red
  }
  