.outer {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .inner {
    font-family: "Oswald", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  
  h1 {
    line-height: .95;
    color: #26AEEF;
    font-weight: 900;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  
  .center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 581px; */
    height: 50%;
  }