<!-- <div *ngIf="getState | async as s" fxLayout="row wrap">
  <div class="outer" *ngIf="s?.user?.data" fxFlex="100">
    <div class="inner">
      <div class="">
        <span class="page-title mat-display-1 mat-primary">Welcome, <span class="mat-title">{{s?.user?.data?.firstName}}</span>
        </span>
        <div *ngIf="s?.user?.data?.permissions" class="title">Permissions: {{s?.user?.data?.permissions}}</div>
      </div>
    </div>
  </div>
  <button *ngIf="s?.user?.data?.permissions === 'Author'" (click)="handleLeadOnboarding()">Add Lead</button>
</div> -->


Home Welcome
