.mat-elevation-z4{
    box-shadow: #fff !important;
}

.content{
    padding-top: 1rem !important;
}
.highlight{
    color: blue;
}
.actions{
    margin: 1rem 0;
}
.subheading-action{
    margin-top: -16px;
}