<div fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex="100"><mat-icon class="success-icon">check</mat-icon></div>
  <div class="mat-title" fxFlex="100">Successfully Completed</div>
  <div class="mat-body-2" fxFlex="100" style="text-align:center">
      An Admin Account for the client has been setup and the details have been mailed. <br/>
      Please proceed to <button mat-button id="setupOrgTree" (click)="proceedToSetupOrgTree()"><span style="color:blue">setup</span></button> the organization.
  </div>
</div>
